body {
    margin: 0;
    font-family: Ubuntu, Roboto, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #333;
    background-color: #fff;
}

hr {
    height: 6px;
    background-color: #333;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 5em;
    color: #000;
    margin-top: 5px;
    margin-bottom: 0;
}

h2 {
    text-align: center;
    text-transform: capitalize;
    font-family: inherit;
    font-size: 1.25em;
    color: #02b3e4;
    margin-top: 0;
}

h3 {
    text-align: center;
    font-size: 4em;
    color: #333;
    margin-top: 5px;
    margin-bottom: 5px;
}

.container {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 90%;
}

.row {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
    position: relative;
    min-height: 1px;
}

.col-12 {
    width: 100%;
}

.col-11 {
    width: 91.66666667%;
}

.col-10 {
    width: 83.33333333%;
}

.col-9 {
    width: 75%;
}

.col-8 {
    width: 66.66666667%;
}

.col-7 {
    width: 58.33333333%;
}

.col-6 {
    width: 50%;
}

.col-5 {
    width: 41.66666667%;
}

.col-4 {
    width: 33.33333333%;
}

.col-3 {
    width: 25%;
}

.col-2 {
    width: 16.66666667%;
}

.col-1 {
    width: 8.33333333%;
}

.img-responsive {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}

#text-head {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#img-banner {
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#img-main {
    margin-top: 15px;
}

.row-feature {
    width: 100%;
    margin-bottom: 15px;
}

.img-feature {
    width: 65%;
    margin-left: auto;
    margin-right: auto;
}

.text-feature {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

@media (min-width: 768px) {

    .container {
        width: 740px;
    }

    h1 {
        text-align: right;
        font-size: 4em;
    }

    h2 {
        font-size: 1.5em;
        text-align: right;
    }

    h3 {
        font-size: 3em;
        text-align: left;
    }

    #img-banner {
        display: block;
        margin-left: 0;
        width: auto;
    }

    #text-head {
        width: 50%;
        margin-right: 0;
        margin-top: 10px;
    }

    #img-main {
        margin-top: 10px;
    }

    .row-feature {
        width: 33.33333333%;
    }

    .img-feature {
        width: 90%;
    }
}

@media (min-width: 990px) {

    .container {
        width: 940px;
    }

@media (min-width: 1200px) {

    .container {
        width: 1140px;
    }
}
